{% load otree %}

<div class="card bg-light m-3">
    <div class="card-header">
        Game Rules
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Select the correct meaning for ambiguous words.
            </li>
            <li class="list-group-item">
                You earn {{ Constants.initial_agreement }} points if your team reaches an agreement at first try
            </li>
            <li class="list-group-item">
                In case of a disagreement you can discuss between each other and try once more.
                Each player sees the options in a random order.
            </li>
            <li class="list-group-item">
                If the team agrees on your pick, you still earn {{ Constants.initial_agreement }} points.
                Every other player will earn {{ Constants.eventual_agreement }} points.
            </li>
            <li class="list-group-item">
                You earn {{ Constants.disagreement }} points in case of disagreement.
            </li>
        </ul>
    </div>
</div>
